beautifulsoup4
chromadb
langchain
langchain-chroma
langchain-community
langchain-huggingface
langchain_ollama
langchain-openai
langchain_pinecone
openai
pinecone
pysqlite3-binary
requests 
sentence-transformers
streamlit 
tqdm
